.adminDashboard, .schedule {
  height: 95%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adminDashboard .overview, .schedule .overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 1rem 1rem 1rem;
}

.adminDashboard .overview .title, .schedule .overview .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adminDashboard .overview .title i, .schedule .overview .title i {
  font-size: 2rem;
  padding: .3rem;
  border-radius: .5rem;
  color: white;
  background-color: #4D40CC;
  margin-right: 1rem;
}

.adminDashboard .overview .title .text, .schedule .overview .title .text {
  font-size: 1.8rem;
}

.adminDashboard .overview .boxes, .schedule .overview .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 2rem;
  gap: 1rem;
}

.adminDashboard .overview .boxes .box, .schedule .overview .boxes .box {
  width: 25%;
  height: 25vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #F66E23;
}

.adminDashboard .overview .boxes .box i, .schedule .overview .boxes .box i {
  font-size: 2rem;
}

.adminDashboard .overview .boxes .box .number, .schedule .overview .boxes .box .number {
  font-size: 2rem;
}

.adminDashboard .overview .boxes .box .text, .schedule .overview .boxes .box .text {
  font-size: 1.8rem;
}

.adminDashboard .activity, .schedule .activity {
  height: 1fr;
  padding: 1rem;
}

.adminDashboard .activity .title, .schedule .activity .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adminDashboard .activity .title i, .schedule .activity .title i {
  font-size: 2rem;
  padding: .3rem;
  border-radius: .5rem;
  color: white;
  margin-right: 1rem;
  background-color: #4D40CC;
}

.adminDashboard .activity .title .text, .schedule .activity .title .text {
  font-size: 1.8rem;
}

.adminDashboard .activity .activity-data table, .schedule .activity .activity-data table {
  margin-top: 1.5rem;
  width: 100%;
}
