.d-grid {
  /* .modal{
  z-index: 99999999999999;
  background-color: red;
  padding: 50vh;
} */
}

.d-grid .card-container,
.d-grid .input-form {
  border: 1px solid #f66e23;
  outline: none !important;
}

.d-grid .bg-glass {
  background-color: rgba(255, 255, 255, 0.9) !important;
  -webkit-backdrop-filter: saturate(200%) blur(25px);
  backdrop-filter: saturate(200%) blur(25px);
}

.d-grid .btn-signup,
.d-grid .btn-login, .d-grid #btn-login {
  background-color: #f66e23 !important;
  border: none;
  color: white !important;
}

.d-grid .btn-signup:hover,
.d-grid .btn-signup:focus,
.d-grid .btn-login:hover,
.d-grid .btn-login:focus {
  border: 1px solid #f66e23 !important;
  background-color: white !important;
  color: #f66e23 !important;
}
