@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #f66e23;
    --hover-color: #4D40CC;
    --panel-color: #fff;
    --text-color: #333;
    --border-color: #e6e5e5;
    --title-icon-color: #fff;
    /* transition color */
    --trans-05: all 0.5s ease;
    --trans-03: all 0.3s ease;
    --trans-02: all 0.2s ease;
}

body {
    min-height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20vw;
    background-color: var(--primary-color);
    padding: 0.6rem 0.6rem;
    border-right: 2px solid var(--border-color);
    transition: var(--trans-05);
    z-index: 99999999999999999;
}

nav.close {
    width:6vw;
}

nav .logo-name {
    display: flex;
    align-items: center;
}

nav .logo-image {
    min-width: 4.2rem;
    
}

nav .logo-image img {
    width: 3rem;
    left: 0;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name {
    margin-left: 1.2rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
    transition: var(--trans-05);
}

nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
}

nav .menu-items {
    margin-top: 2.5rem;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li {
    list-style: none;
}

.menu-items li ul {
    position: static;
    display: none;
}

.menu-items li .prog-show.show {
    display: block;
}

.menu-items li ul li {
    border-bottom: 1px solid red;
}

.menu-items li ul li a {
    font-size: .8rem;
}

.links-hover a .down {
    position: absolute;
    top: 50%;
    right: 1.25rem;
    transform: translateY(-50%);
    font-size: 1rem;
    transition: var(--trans-05);
    color: red;
}

.links-hover a:hover .down {
    transform: translateY(-50%) rotate(-180deg);
}

.menu-items li a {
    text-decoration: none;
    height: 3.75rem;
    display: flex;
    align-items: center;
    position: relative;
}


/* .menu-items li a:hover:before {
    content: "";
    left: -7px;
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--hover-color);
} */

.menu-items li a i {
    font-size: 1.3rem;
    min-width: 2.8rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.menu-items li a .link-name {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--text-color);
    transition: var(--trans-05);
}

nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
}

.links-hover a:hover i,
.links-hover a:hover .link-name,
.logout-mode a:hover i,
.logout-mode a:hover .link-name {
    color: #4D40CC;
}

.links-hover a:hover .link-name {
    height: 2.5rem;
    width: 60%;
    display: flex;
    padding-left: 2px;
    justify-content: start;
    align-items: center;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

.menu-items .logout-mode {
    padding-top: 0.6rem;
    border-top: 1px solid var(--border-color);
}