.richae .card-container {
  border: 1px solid #f66e23;
}

.richae .bg-glass {
  background-color: rgba(255, 255, 255, 0.9) !important;
  -webkit-backdrop-filter: saturate(200%) blur(25px);
          backdrop-filter: saturate(200%) blur(25px);
}

.richae .btn-signup,
.richae .btn-login, .richae #btn-login {
  background-color: #f66e23 !important;
  border: none;
  color: white !important;
}

.richae .btn-signup:hover,
.richae .btn-signup:focus,
.richae .btn-login:hover,
.richae .btn-login:focus {
  border: 1px solid #f66e23 !important;
  color: #f66e23 !important;
  background-color: white !important;
}

.richae .error_input {
  border: 2px solid red;
}

.richae .gradient-custom {
  /* fallback for old browsers */
  background: #f093fb;
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1)); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1)) */
  background: -webkit-gradient(linear, left top, right bottom, from(#f66e23), to(#4d40cc));
  background: linear-gradient(to bottom right, #f66e23, #4d40cc);
}

.richae .card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

.richae .card-registration .select-arrow {
  top: 13px;
}
