.students, .tutors {
  font-size: 1rem;
}

.students .container h2, .tutors .container h2 {
  text-align: center;
}

.students .container .card, .tutors .container .card {
  width: auto;
  padding: 1rem;
}

.students .container .card table th, .tutors .container .card table th {
  background-color: #4D40CC;
  color: white;
}
