.review{
padding: 1rem 2rem;

display: flex;
justify-content: center;
align-items: center;

    
form{
	width: 30vw;
	height:50vh;
	display: grid;
	padding: 2rem;
	justify-content: center;
	border: 1px solid;
	border-radius: 1rem;
}

textarea {
   resize: none;
}
.stars{
	width: 20vw;
	height: 3rem;
    display: flex;
    flex-direction: row-reverse;
	justify-content: center;

}

button{
	justify-self: center;
	width: 10vw;
}

.stars__star-icon{
	/* border: 1px solid; */
	height: 2rem;
    stroke:#4D40CC;
    stroke-width: .2rem;
    fill: transparent;
    transition: .1s all;
}

.stars__star{
    /* width: 75px;
    height: 75px; */
    position: relative;
    cursor: pointer;
    margin: .5rem;
}

.stars__checkbox{
    position: absolute;
    top: -9999px;
    opacity: 0;
    width: 0;
    height: 0;
}

.stars__star:hover > .stars__star-icon{
    fill: #4D40CC;
}

.stars__star:hover ~ .stars__star > .stars__star-icon {
    fill: #4D40CC;
}

.stars__checkbox:checked + .stars__star > .stars__star-icon {
    fill: #4D40CC;
}

.stars__checkbox:checked ~ .stars__star > .stars__star-icon {
    fill: #4D40CC;
}

}

