.adminDashboard,.schedule{
    *{
    }
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .overview{
        display: flex;
        flex-direction: column;
        padding: 3rem 1rem 1rem 1rem;

        .title{
            display: flex;
            align-items: center;

            i{
                font-size: 2rem;
                padding: .3rem;
                border-radius: .5rem;
                color: white;
                background-color: #4D40CC;
                margin-right: 1rem;
            }
            .text{
                font-size: 1.8rem;
            }
        }

        .boxes{
            display: flex;
            width: 100%;
            padding: 2rem;
            gap: 1rem;

            .box{
                width: 25%;
                height: 25vh;
                display: grid;
                justify-content: center;
                text-align: center;
                padding: 1rem;
                border-radius: 1rem;
                background-color: #F66E23;

                i{
                    font-size: 2rem;
                    
                    
                }
                .number{
                    font-size: 2rem;
                }
                .text{
                    font-size: 1.8rem;
                    color: black;

                }
            }
        }
    }

    .activity{
        height: 1fr;
        padding: 1rem;

        .title{
            display: flex;
            align-items: center;

            i{
                font-size: 2rem;
                padding: .3rem;
                border-radius: .5rem;
                color: white;
                margin-right: 1rem;
                background-color: #4D40CC;
            }
            .text{
                font-size: 1.8rem;
            }
        }
        .activity-data{
            table{
                margin-top: 1.5rem;
                width: 100%;
            }
        }
    }
}