html,
body,section,.section{
    height: 100vh;
    overflow: hidden;
}
.section{
    margin-left: 15.625rem;
}


@media screen and (max-width:790px) {
    .section{
        margin-left: 20%;
    }
    
}