$color1:#F66E23;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2.5vh;
}

body,html{
    height: 100%;
    overflow: hidden;
}

.sidebar.active{
    width: 13rem;
    // width: 4rem;
    height: 100vh;
    transition: .5s;
    overflow: visible;


    .profile{
        height: 25vh;
        width: 90%;
        display: block;
        transition: .5s;
        h2,h3{
            display: block;
            text-align: center;
            transition: .5s;
        }
    }
    .list,.dropbtn{
        i{
            margin-right: 1rem;
        }
    }
}
.sidebar{
    display: grid;
    // flex-direction: column;
    // width: 4rem;
    width: 100%;
    height: 10vh;
    position: absolute;
    padding-left: 2vh;
    background-color: $color1;
    border-radius: 0 .1rem .1rem 0;
    transition: .5s;
    z-index: 10;
    overflow: hidden;

    .dropdown{


        .dropbtn{
            span{
                margin-right:1rem;
            }
        }
        &:hover{
            cursor: pointer;
        }
        &:hover .dropdown-content{
            display: block;
            transition: .5s;

        }

        .dropdown-content {
            position: absolute;
            width: 12rem;
            display: none;
            background-color: #F66E23;
            border: .1rem solid white;
            border-radius: .5rem;
            overflow: hidden;
            z-index: 99;
            transition: .5s;
            margin-left: 10rem;

            .list{
                border-radius: .5rem;

                i{
                    margin-right: .5rem;
                }
            }
           
        }
    }

    .profile{
        height: 10vh;
        width: 90%;
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
        transition: .5s;
        
        button{
            height: 2rem;
        }
        h2,h3{
            transition: .5s;
            text-align: center;
        }
    }

    .list,.dropbtn{
        text-decoration: none;
        color:  white;
        height: 2.5rem;
        border-radius: 1rem 0 0 1rem;
        padding: .5rem;
        display: flex;
        i{
            margin-right: 2.5rem;
        }
        &:hover{
            background-color: white;
            color: #F66E23;
        } 
    }

    .list .active{
        background-color: white;
        color: #F66E23;
    }
    
    .sign_out{
        margin-top: 20%;

    }

}

main{
    height: 100vh;

    .bg_image{
        position: absolute;
        width: 100vw;
        height: 100vh;
        background:url(/images/section-bg.jpg);
        opacity: .3;
        background-size:cover;
        background-size: 100vw;
    }
    
    .section{
        padding-top: 12vh;
        height:100vh;
    }
}
.card{
    // background-color: rgba($color: white, $alpha: .5) !important;
    backdrop-filter: blur(50px);
}


@media screen and (min-width: 750px) {

    .sidebar{
        width: 18vw;
        height: 100vh;
        overflow: visible;

        .profile{
            height: 25vh;
            width: 90%;
            margin-top: 3rem;
            display: block;

            .btn{
                display: none;
            }
            h2,h3{
                display: block;
                text-align: center;
            }
        }
    }
    main{
        padding-left: 18vw;
        .section{
            padding: 4vh;
        }
    }
    
}